<% provide(:title, @post.title) %>
<%= render 'post', post: @post %>
<p></p>
<p></p>
<div class="bebas post-content">
	<%= link_to 'Edit', edit_post_path(@post) %>
	| 
	<%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'You sure?' } %>
</div>
