<div id="footer">
	<div id="footer-pat">
		<div id="header-end">
			<div id="footer-top"></div>
		</div>
		<div id="footer-bot">
			<div class="btn-next">
				<a href="http://0nlymyrailgun.tumblr.com/page/2">Next</a>
			</div>

			<%= link_to "THANKS TO THEME BY GOROBOTO", "http://www.goroboto.com/", target: "_blank", class: "attribution bebas" %>
		</div>
	</div>
</div>