<div id="header">
	<div id="header-pat">
		<div id="header-top">
			<div id="header-icons">
				<div class="btn-rss">
					<a href="#">RSS</a>
				</div>
				<div class="btn-archive">
					<a href="http://0nlymyrailgun.tumblr.com/archive">ARCHIVE</a>
				</div>
				<div class="btn-fb">
					<a href="http://facebook.com/yangyangonly" target="_blank">Facebook</a>
				</div>
				<div class="btn-twitter">
					<a href="http://twitter.com/AsceYang" target="_blank">Twitter</a>
				</div>
			</div>
			<h1 class="bebas" title=full_title('')>
				<a href="<%= root_path %>"><%= full_title('') %></a>
			</h1>
		</div>
		<div id="header-end">
			<div id="header-bot">
				
			</div>
			<div id="header-cap">
				
			</div>
		</div>
		<div id="clear">
			
		</div>
	</div>
</div>
<div id="description"><h3 class="bebas">我和我骄傲的倔强</h3></div>